
.div-footer{
    margin-top: 34%;
    padding-bottom: 2%;
    background-color: rgba(248, 248, 248, 0.945);
}

footer{
    color: rgb(0, 0, 0);
    text-align: right;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding-top: 2%;
    margin-right: 3%;
    display: inline-flex;
    
    
}

.p-footer{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    text-align: right;
    font-size: 1.5em;
    margin-right: 4%;
    display:inline-flex;
}

.div-img-norte{
    margin-top: 1%;
}

.img-norte{
    width: 12%;
    margin-top: 1%;
    margin-left: 29%;
}

.img-tic{
    width: 5%;
    margin-top: 1%;
    margin-left: 2%;
}

.img-insta{
    width: 16%;
    margin-top: 1%;
    margin-left: 5%;
}

.div-footer-text{
    display: flex;
    justify-content: center;
    margin-top: 38%;
}